.hero {
  position: relative;
  padding: 90px 0;
  background: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url('../img/hero-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
  }

  @include tablet {
    padding: 50px 0;

    &::before {
      background-position: 40vw bottom;
    }
  }

  @include small-tablet {
    padding: 20px 0 60px 0;
  }

  @include mobile {
    &::before {
      background-position: right bottom;
      background-image: url('../img/hero-bg-mobile.svg');
    }
  }

  @media (max-width: 350px) {
    &::before {
      background-position: 120px bottom;
    }
  }

  // .hero__inner

  &__inner {}

  // .hero__title

  &__title {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: var(--black-color);

    @include small-tablet {
      margin-bottom: 0;
      font-size: 24px;
      line-height: 30px;
    }
  }

  // .hero__links

  &__links {
    display: flex;
    align-items: center;
  }

  // .hero__link

  &__link {
    position: relative;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--red-color);

    &:not(:last-child) {
      padding-right: 10px;

      &::after {
        content: '';
        top: 0;
        right: 0;
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: var(--red-color);
      }
    }

    &:not(:first-child) {
      padding-left: 10px;
    }

    @include small-tablet {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
