.products {
  padding: 50px 0;
  background-color: var(--white-color);

  @include tablet {
    padding: 20px 0 30px 0;
  }

  // .products__inner

  &__inner {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: -95px;
      top: 0;
      width: 190px;
      height: 187px;
      background-image: url('../img/products-bg.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include tablet {

      &::before {
        content: none;
      }
    }

    @media (max-width: 700px) {
      &::before {
        content: '';
        right: -120px;
        top: -80px;
      }
    }
  }

  // .products__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 20px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .products__item

  &__item {
    position: relative;
    z-index: 2;
    border-radius: 0px 0px 8px 8px;

    &:not(:first-child) {
      background-color: var(--white-color);
      transition: all 0.1s linear;
    }

    &:hover {
      filter: drop-shadow(0px 6px 30px rgba(0, 0, 0, 0.1));

      .product__name {
        color: var(--red-color);
        text-decoration-line: underline;
        text-underline-offset: 4px;
      }
    }
  }

  // .products__item-link

  &__item-link {}

  // .products__title

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: var(--black-color);

    span {
      color: var(--red-color);
      display: inline-block;
    }

    @media (max-width: 700px) {
      padding-left: 0;
      justify-content: flex-start;
      height: fit-content;
      font-size: 30px;
      line-height: 36px;
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  // .product__name

  &__name {
    padding: 10px 20px;
    height: inherit;
    border-bottom: 1px solid #DDE1E7;
    border-right: 1px solid #DDE1E7;
    border-left: 1px solid #DDE1E7;
    border-radius: 0px 0px 8px 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--black-color);
    transition: all 0.1s linear;

    @media (max-width: 700px) {
      padding: 5px 15px 20px 15px;
    }
  }
}

.products.products-catalog .products__inner {

  @include tablet {

    &::before {
      content: '';
      right: 55%;
      top: 204px;
      transform: translateX(50%);
    }
  }

  @media (max-width: 700px) {
    &::before {
      content: '';
      top: 98%;
      right: -115px;
      transform: translateX(0);
    }
  }
}

.products.products-symbols {
  background-color: #F2F3F7;

  & .hvr__dots {
    margin-top: 2px;
  }
}

.product__images {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 8px 8px 0px 0px;

}

.product__img {
  display: block;
  border-radius: 8px 8px 0px 0px;
  width: 100%;

  @include tablet {
    width: 100%;
  }
}

.hvr__images {
  position: relative;
}


.hvr__sectors {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.hvr__sector {
  flex-grow: 1;
}

/* не обязательные стили */


.hvr__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  margin-top: 1px;
}

.hvr__dot {
  width: 20%;
  height: 2px;
  background-color: #BBC2CC;
  border-radius: 0;
  opacity: 1;
}

.hvr__dot--active {
  background-color: var(--red-color);
}
