.products {
  padding: 50px 0;
  background-color: var(--white-color);

  @include tablet {
    padding: 20px 0 30px 0;
  }

  // .products__inner

  &__inner {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: -95px;
      top: 0;
      width: 190px;
      height: 187px;
      background-image: url('../img/products-bg.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include tablet {

      &::before {
        content: none;
      }
    }

    @media (max-width: 700px) {
      &::before {
        content: '';
        right: -120px;
        top: -80px;
      }
    }
  }

  // .products__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 20px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .products__item

  &__item {
    position: relative;
    z-index: 2;

    &:not(:first-child) {
      background-color: var(--white-color);
      border: 1px solid #DDE1E7;
      border-radius: 8px;
      transition: all 0.1s linear;
    }

    &:hover {
      filter: drop-shadow(0px 6px 30px rgba(0, 0, 0, 0.1));

      .product__name {
        color: var(--red-color);
        text-decoration-line: underline;
        text-underline-offset: 4px;
      }
    }
  }

  // .products__item-link

  &__item-link {}

  // .products__title

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: var(--black-color);

    span {
      color: var(--red-color);
      display: inline-block;
    }

    @media (max-width: 700px) {
      padding-left: 0;
      justify-content: flex-start;
      height: fit-content;
      font-size: 30px;
      line-height: 36px;
    }
  }
}

.product {

  // .product__container

  &__container {}

  // .product__inner

  &__inner {}

  // .product__slide

  &__slide {}

  // .product__slide-img

  &__slide-img {
    object-fit: contain;
    border-radius: 8px 8px 0px 0px;

    @include tablet {
      width: 100%;
    }
  }

  // .product__name

  &__name {
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--black-color);
    transition: all 0.1s linear;

    @media (max-width: 700px) {
      padding: 5px 15px 20px 15px;
    }
  }
}

.product__pagination {
  position: static;
  display: flex;
  align-items: center;
  column-gap: 2px;
  margin-top: 1px;

  & .swiper-pagination-bullet {
    width: 20%;
    height: 2px;
    margin: 0 !important;
    background-color: #BBC2CC;
    border-radius: 0;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background-color: var(--red-color);
    }
  }
}

.products.products-catalog .products__inner {

  @include tablet {

    &::before {
      content: '';
      right: 50%;
      top: 235px;
      transform: translateX(50%);
    }
  }

  @media (max-width: 700px) {
    &::before {
      content: '';
      top: 98%;
      right: -115px;
      transform: translateX(0);
    }
  }
}

.products.products-symbols {
  background-color: #F2F3F7;
}
