<section class="about-project">
  <div class="container">
    <div class="about-project__inner">
      <div class="about-project__directors">
        <div class="about-project__director director">
          <div class="director__info">
            <picture>
              <img loading="lazy" src="img/director-1.jpg" class="director__image" alt="Краснова Нина Николаевна:">
            </picture>

            <div class="director__appeals">
              <a data-fancybox href="#video-appeal" class="director__appeal">
                Обращение<br> директора<br> МТС Чувашия
              </a>


              <h5 class="director__name">
                Краснова<br> Нина Николаевна:
              </h5>
            </div>
          </div>

          <p class="director__descr">
            Вышивка – достояние чувашского народа, его культурный код. Изделия мастериц из республики известны не только
            в стране, но и за ее пределами. А секреты узоров и орнаментов передаются вышивальщицами...
          </p>
        </div>

        <div class="about-project__director director">
          <div class="director__info">
            <picture>
              <img loading="lazy" src="img/director-2.jpg" class="director__image" alt="Меньшикова Ирина Петровна:">
            </picture>

            <div class="director__appeals">
              <a data-fancybox href="#text-appeal" class="director__appeal">
                Обращение директора Национального музея
                Чувашии
              </a>

              <h5 class="director__name">
                Меньшикова<br> Ирина Петровна:
              </h5>
            </div>
          </div>

          <p class="director__descr">
            Вышивка – основной элемент традиционной культуры чувашского народа и его национальная гордость. Ее
            популярность и число желающих освоить это народное искусство растут с каждым днем...
          </p>
        </div>
      </div>
      <div class="about-project__info info-project">
        <div class="info-project__nation">
          <h2 class="info-project__title">
            ЧУВАШСКАЯ <br>
            НАЦИОНАЛЬНАЯ ВЫШИВКА
          </h2>

          <span class="info-project__for">
            Это культурный код нации:
          </span>

          <div class="info-project__texts">
            <p class="info-project__text"> Она формировалась и развивалась несколько тысячелетий вместе с чувашским
              народом – с эпохи энеолита, многие методы построения узоров нисходят к древним цивилизациям Востока.
            </p>

            <p class="info-project__text">В строгом геометрическом орнаменте чувашской вышивки зашифрована информация о
              строении вселенной, мифология, мировоззрение и верования народа, его исторический путь.
            </p>

            <p class="info-project__text">Вышивка обладала сакральным значением. Предметы, украшенные ею, играли важную
              роль в ритуальных и культовых обрядах, сопровождали человека на всем его жизненном пути. По вышитым узорам
              на чувашском костюме можно было понять, кем является человек, откуда он родом, каков его социальный
              статус, сколько у него детей.
            </p>

            <p class="info-project__text">В чувашской вышивке использовались сдержанные, скромные тона, близкие к
              природным: черные и красные нити на белом полотне дополнялись небольшими вкраплениями зеленого, желтого и
              синего. Каждый цвет имел свое символическое значение и использовался только в определенных сюжетах.
            </p>

            <p class="info-project__text">
              Вышивка чувашского народа богата не только узорами, но и техникой исполнения. Мастерицы веками
              использовали и по сегодняшний день сохраняют более 30 швов и около 40 их разновидностей.
            </p>

            <p class="info-project__text">В фондах Чувашского национального музея хранится более 200 заготовок с парными
              узорами кĕскĕ для женских рубах, у каждой из них– свой уникальный узор.
            </p>
          </div>
        </div>

        <div class="info-project__about">
          <h3 class="info-project__title">
            О проекте
          </h3>

          <span class="info-project__for">
            Для чего:
          </span>
          <div class="info-project__texts">
            <p class="info-project__text">
              Вышивка является одним из древнейших видов народного искусства. Через родной
              язык, украшенный вышивкой национальный костюм мы осознаем себя частью определенного этноса.
            </p>

            <p class="info-project__text">
              К сожалению, к началу ХХ века в Чувашии была почти полностью утрачена
              сакральность национального орнамента и костюма, вышивка стала элементом декора, вследствие чего, например,
              женские нагрудные знаки кӗскӗ стали вышивать на шторах и даже на мужских рубахах.
            </p>

            <p class="info-project__text">
              В начале ХХI века чувашская вышивка вновь стала обретать свое значение. Под
              влиянием ученых мастера стали с большей осторожностью и деликатностью воспроизводить вышитые орнаменты,
              обращать внимание на уместность использования тех или иных орнаментов и узоров в одежде, предметах декора
              и украшениях.
            </p>

            <p class="info-project__text">
              В фондах Чувашского национального музея со дня его открытия накопилась
              богатая коллекция оригинальных предметов одежды XVIII-XIX веков, украшенных вышивкой.
            </p>

            <p class="info-project__text">
              Наша цель – популяризировать чувашскую вышивку на примере традиционных
              образцов из фондов музея, сохранить смысловую основу и традиционные техники, которые и делают чувашскую
              вышивку уникальной среди сотен других народов.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
