<header class="header">
  <div class="container">
    <nav class="nav" title="Меню" data-menu>
      <img loading="lazy" src="img/logo-mtc.svg" class="nav__logo" alt="Логотип МТС">
      <ul class="nav__list">
        <li class="nav__item" data-menu-item><a href="#" class="nav__link">Вышивка в изделиях</a></li>
        <li class="nav__item" data-menu-item><a href="#" class="nav__link nav__link--active">Элементы вышивки</a></li>
        <li class="nav__item" data-menu-item><a href="#" class="nav__link">Школа национальной вышивки</a></li>
      </ul>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </nav>

  </div>
</header>
