<section class="info-catalog">
  <div class="container">
    <div class="info-catalog__inner">
      <div class="info-catalog__top">
        <h1 class="info-catalog__title">
          ЧУВАШСКАЯ<br>
          НАЦИОНАЛЬНАЯ ВЫШИВКА
        </h1>

        <p class="info-catalog__for">
          Небольшой текст чтобы поискавикам можно было найти странцу
        </p>

        <div class="info-catalog__texts">
          <p class="info-catalog__text">
            Она формировалась и развивалась несколько тысячелетий вместе с чувашским народом – с эпохи энеолита, многие
            методы построения узоров нисходят к древним цивилизациям Востока.
          </p>

          <p class="info-catalog__text">
            В строгом геометрическом орнаменте чувашской вышивки зашифрована информация о строении вселенной, мифология,
            мировоззрение и верования народа, его исторический путь.
          </p>

          <p class="info-catalog__text">
            Вышивка обладала сакральным значением. Предметы, украшенные ею, играли важную роль в ритуальных и культовых
            обрядах, сопровождали человека на всем его жизненном пути. По вышитым узорам на чувашском костюме можно было
            понять, кем является человек, откуда он родом, каков его социальный статус, сколько у него детей.
          </p>

          <p class="info-catalog__text">
            В чувашской вышивке использовались сдержанные, скромные тона, близкие к природным: черные и красные нити на
            белом полотне дополнялись небольшими вкраплениями зеленого, желтого и синего. Каждый цвет имел свое
            символическое значение и использовался только в определенных сюжетах.
          </p>

          <p class="info-catalog__text">
            Вышивка чувашского народа богата не только узорами, но и техникой исполнения. Мастерицы веками использовали
            и по сегодняшний день сохраняют более 30 швов и около 40 их разновидностей.
          </p>

          <p class="info-catalog__text">
            В фондах Чувашского национального музея хранится более 200 заготовок с парными узорами кĕскĕ для женских
            рубах, у каждой из них– свой уникальный узор.

          </p>

        </div>
      </div>

      <div class="info-catalog__bottom">
        <h2 class="info__title">
          Элементы чувашской <span>вышивки</span>
        </h2>

        <div class="info__elements">
          <a href="#" class="info__element">
            <h4 class="info__element-title">
              Символы <br> и знаки
            </h4>
          </a>

          <a href="#" class="info__element">
            <h4 class="info__element-title">
              Швы
            </h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
