<section class="info">
  <div class="container">
    <div class="info__inner">
      <h3 class="info__title">
        Элементы чувашской <span>вышивки</span>
      </h3>

      <div class="info__elements">
        <a href="#" class="info__element">
          <h4 class="info__element-title">
            Символы <br> и знаки
          </h4>
        </a>

        <a href="#" class="info__element">
          <h4 class="info__element-title">
            Швы
          </h4>
        </a>
      </div>

      <div class="info__start">
        <div class="info__texts">
          <h3 class="info__title">
            Как начать

            <span>
              вышивать?
            </span>
          </h3>
          <p class="info__text">
            Национальная школа чувашской вышивки при Чувашском национальном музее начала работу с 13 ноября 2021 года.
            Стать ее учеником могут все желающие: абсолютный новичок, человек с навыками вышивания и даже опытный
            мастер.
          </p>

          <p class="info__text">
            Ученики изучают историю и основные каноны чувашского народного искусства и народного костюма, историю и
            семантику вышивки, её роль в жизни чувашского народа, техники исполнения основных швов, научатся составлять
            орнаментальные композиции для разных элементов одежды, украшений, аксессуаров и предметов декора.
          </p>

          <p class="info__text">
            Курс обучения длится от двух до семи месяцев в зависимости от наличия базовых навыков вышивания. По
            завершении
            обучения каждый выпускник получает сертификат.
          </p>

          <p class="info__text">
            Записаться в Школу чувашской вышивки можно<br> по телефону:
            <a class="info__tel" href="tel:89968512595">8 996-851-25-95</a>
          </p>

          <div class="info__video">
            <a class="info__video-link" href="#">
              Школа национальной вышивки
            </a>

            <a class="info__video-lesson" data-fancybox href="#video-appeal">
              <span class="info__video-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M20 3H4C2.897 3 2 3.897 2 5V19C2 20.103 2.897 21 4 21H20C21.103 21 22 20.103 22 19V5C22 3.897 21.103 3 20 3ZM20.001 9C20 9 20 9 20.001 9H19.536L16.869 5H20L20.001 9ZM9.536 9L6.869 5H9.465L12.132 9H9.536ZM14.536 9L11.869 5H14.465L17.132 9H14.536ZM4 5H4.465L7.132 9H4V5ZM4 19V11H20L20.002 19H4Z"
                    fill="#F8F8F8" />
                  <path d="M10 18L15.5 15L10 12V18Z" fill="#F8F8F8" />
                </svg>
              </span>

              ВИДЕОУРОК
            </a>
          </div>

        </div>

        <div class="info__picture">
          <picture>
            <source srcset="img/info-start.webp" type="image/webp">
            <img loading="lazy" src="img/info-start.jpg" class="info__image" alt="Как начать
            вышивать?">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
