<section class="products products-symbols">
  <div class="container">
    <div class="products__inner">
      <ul class="products__list">
        <li class="products__item">
          <a class="products__item-link" href="#">
            <h3 class="products__title">
              Чувашская
              <span>
                вышивка
              </span>
              в изделиях
            </h3>
          </a>
        </li>

        <li class="products__item">
          <a class="products__item-link product" href="#">
            <div class="product__images">
              <img class="product__img" src="img/products/product-1.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-1.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-1.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-1.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-1.jpg" alt="Свадебные атрибуты">
            </div>
            <p class="product__name">Рубахи</p>
          </a>
        </li>

        <li class="products__item">
          <a class="products__item-link product" href="#">
            <div class="product__images">
              <img class="product__img" src="img/products/product-2.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-2.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-2.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-2.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-2.jpg" alt="Свадебные атрибуты">
            </div>
            <p class="product__name">Головные полотенца</p>
          </a>
        </li>

        <li class="products__item">
          <a class="products__item-link product" href="#">
            <div class="product__images">
              <img class="product__img" src="img/products/product-3.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-3.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-3.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-3.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-3.jpg" alt="Свадебные атрибуты">
            </div>
            <p class="product__name">Головные повязки</p>
          </a>
        </li>

        <li class="products__item">
          <a class="products__item-link product" href="#">
            <div class="product__images">
              <img class="product__img" src="img/products/product-4.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-4.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-4.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-4.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-4.jpg" alt="Свадебные атрибуты">
            </div>
            <p class="product__name">Поясные и набедренные украшения</p>
          </a>
        </li>

        <li class="products__item">
          <a class="products__item-link product" href="#">
            <div class="product__images">
              <img class="product__img" src="img/products/product-5.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-5.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-5.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-5.jpg" alt="Свадебные атрибуты">
              <img class="product__img" src="img/products/product-5.jpg" alt="Свадебные атрибуты">
            </div>
            <p class="product__name">Свадебные атрибуты</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
