<section class="products products-symbols">
  <div class="container">
    <div class="products__inner">
      <ul class="products__list">
        <li class="products__item">
          <a class="products__item-link" href="#">
            <h2 class="products__title">
              Чувашская
              <span>
                вышивка
              </span>
              в изделиях
            </h2>
          </a>
        </li>

        <li class="products__item">
          <a class="products__item-link product" href="#">
            <div class="swiper mySwiper product__container">
              <div class="swiper-wrapper product__inner">
                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-1.jpg" alt="Рубахи">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-1.jpg" alt="Рубахи">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-1.jpg" alt="Рубахи">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-1.jpg" alt="Рубахи">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-1.jpg" alt="Рубахи">
                </div>
              </div>

              <div class="product__pagination swiper-pagination"></div>
            </div>
            <p class="product__name">Рубахи</p>
          </a>
        </li>

        <li class="products__item">
          <a class="products__item-link product" href="#">
            <div class="swiper mySwiper product__container">
              <div class="swiper-wrapper product__inner">
                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-2.jpg" alt="Головные полотенца">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-2.jpg" alt="Головные полотенца">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-2.jpg" alt="Головные полотенца">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-2.jpg" alt="Головные полотенца">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-2.jpg" alt="Головные полотенца">
                </div>
              </div>

              <div class="product__pagination swiper-pagination"></div>
            </div>
            <p class="product__name">Головные полотенца</p>
          </a>
        </li>

        <li class="products__item">
          <a class="products__item-link product" href="#">
            <div class="swiper mySwiper product__container">
              <div class="swiper-wrapper product__inner">
                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-3.jpg" alt="Головные повязки">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-3.jpg" alt="Головные повязки">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-3.jpg" alt="Головные повязки">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-3.jpg" alt="Головные повязки">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-3.jpg" alt="Головные повязки">
                </div>
              </div>

              <div class="product__pagination swiper-pagination"></div>
            </div>
            <p class="product__name">Головные повязки</p>
          </a>
        </li>

        <li class="products__item">
          <a class="products__item-link product" href="#">
            <div class="swiper mySwiper product__container">
              <div class="swiper-wrapper product__inner">
                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-4.jpg"
                    alt="Поясные и набедренные украшения">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-4.jpg"
                    alt="Поясные и набедренные украшения">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-4.jpg"
                    alt="Поясные и набедренные украшения">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-4.jpg"
                    alt="Поясные и набедренные украшения">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-4.jpg"
                    alt="Поясные и набедренные украшения">
                </div>
              </div>

              <div class="product__pagination swiper-pagination"></div>
            </div>
            <p class="product__name">Поясные и набедренные украшения</p>
          </a>
        </li>

        <li class="products__item">
          <a class="products__item-link product" href="#">
            <div class="swiper mySwiper product__container">
              <div class="swiper-wrapper product__inner">
                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-5.jpg" alt="Свадебные атрибуты">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-5.jpg" alt="Свадебные атрибуты">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-5.jpg" alt="Свадебные атрибуты">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-5.jpg" alt="Свадебные атрибуты">
                </div>

                <div class="product__slide swiper-slide">
                  <img class="product__slide-img" src="img/products/product-5.jpg" alt="РуСвадебные атрибутыбахи">
                </div>
              </div>

              <div class="product__pagination swiper-pagination"></div>
            </div>
            <p class="product__name">Свадебные атрибуты</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
